:root {
  /* color */
  --colorTextPrimary: #ffffff;
  --colorAccent: #fbd784;
  --backgroundColor: #0b1d26;
  /* font */
  --fontPrimary: "Chivo", sans-serif;
  --fontLogo: "Chonburi", serif;
  --fontTitle: "Cinzel", serif;
}
/* global */
body {
  font-family: var(--fontPrimary);
  font-weight: 700;
  font-size: 18px;
  line-height: 1.18;
  color: var(--colorTextPrimary);
  background-color: var(--backgroundColor);
}
.container {
  max-width: 1507px;
  margin-inline: auto;
  padding-inline: 15px;
}
/* header */
.header {
  padding-top: 67px;
}
.header-container {
  max-width: 92%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  font-family: var(--fontLogo);
  font-size: 32px;
  font-weight: 400;
  line-height: 1.19;
  text-transform: uppercase;
  letter-spacing: 0.01em;
}
.nav-list {
  display: flex;
  align-items: center;
  gap: 37px;
}
.action-links {
  font-style: 17px;
  font-weight: 900;
  line-height: 1.18;
}
/* section-1 */
.hero {
  padding: 200px 0 745px 0;
}
.hero-container {
  max-width: 950px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.hero-subtitle {
  line-height: 1.17;
  letter-spacing: 0.33em;
  text-transform: uppercase;
}
.hero-title {
  font-family: var(--fontTitle);
  font-weight: 400;
  font-size: 88px;
  line-height: 1.14;
  text-transform: uppercase;
}
/* section-2 */
.travel {
  padding-bottom: 200px;
}
.travel-list {
  display: flex;
  flex-direction: column;
  gap: 200px;
}
.travel-item:nth-child(even) .steep-photo {
  order: -1;
}
.travel-steep {
  display: flex;
  gap: 115px;
  align-items: center;
}
.steep-body {
  display: flex;
  flex-direction: column;
  gap: 27px;
}
.steep-text {
  font-weight: 900;
  line-height: 0.33em;
  color: var(--colorAccent);
}
.steep-title {
  font-family: var(--fontTitle);
  font-size: 64px;
  line-height: 1.34;
  font-weight: 400;
  max-width: 555px;
}
.steep-link {
  font-weight: 900;
  color: var(--colorAccent);
}
/* footer */
.footer {
  padding-bottom: 120px;
}
.footer-container {
  display: flex;
  gap: 200px;
}
.footer-info {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.footer-info-text {
  font-weight: 900;
  max-width: 303px;
  flex-grow: 1;
}
.footer-info-copyright {
  opacity: 0.5;
}
.blog-title,
.mntn-title {
  font-weight: 900;
  line-height: 1.33;
  font-size: 24px;
  color: var(--colorAccent);
  margin-bottom: 24px;
}
.blog-list,
.mntn-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
